.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box
}

.autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333
}

.autocomplete-suggestion b {
    font-weight: 400;
    color: #e85600
}

.autocomplete-suggestion.selected {
    background: #f0f0f0
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

header,section {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,a:hover {
    outline-width: 0
}

b {
    font-weight: inherit;
    font-weight: bolder
}

code,pre {
    white-space: pre-line;
    font-family: SF Mono,Segoe UI Mono,Roboto Mono,Menlo,Courier,monospace;
    font-size: 1em
}

svg:not(:root) {
    overflow: hidden
}

button,input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    overflow: visible
}

button {
    text-transform: none;
    -webkit-appearance: button
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

[hidden] {
    display: none
}

*,:after,:before {
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent
}

body {
    background: #fff;
    color: #50596c;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,sans-serif;
    font-size: .8rem;
    overflow-x: hidden;
    text-rendering: optimizeLegibility
}

a {
    color: #5755d9;
    outline: 0;
    text-decoration: none
}

a:focus {
    box-shadow: 0 0 0 .1rem rgba(87,85,217,.2)
}

a.active,a:active,a:focus,a:hover {
    color: #302ecd;
    text-decoration: underline
}

a:visited {
    color: #807fe2
}

h1,h4,h5 {
    color: inherit;
    line-height: 1.2;
    margin-bottom: .5em;
    margin-top: 0
}

.h5,h1,h4,h5 {
    font-weight: 500
}

h1,h4 {
    font-size: 1.2rem
}

.h5,h5 {
    font-size: 1rem
}

a {
    -webkit-text-decoration-skip: ink edges;
    text-decoration-skip: ink edges
}

ol,ul {
    margin: .8rem 0 .8rem .8rem;
    padding: 0
}

ol li,ul li {
    margin-top: .4rem
}

ul {
    list-style: disc inside
}

ol {
    list-style: decimal inside
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: .05rem solid #5755d9;
    border-radius: .1rem;
    color: #5755d9;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.2rem;
    outline: 0;
    padding: .25rem .4rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}

.btn:focus {
    box-shadow: 0 0 0 .1rem rgba(87,85,217,.2)
}

.btn:focus,.btn:hover {
    background: #f1f1fc;
    border-color: #4b48d6;
    text-decoration: none
}

.btn:active {
    background: #4b48d6;
    border-color: #3634d2;
    color: #fff;
    text-decoration: none
}

.btn:disabled {
    cursor: default;
    opacity: .5;
    pointer-events: none
}

.btn.btn-primary {
    background: #5755d9;
    border-color: #4b48d6;
    color: #fff
}

.btn.btn-primary:focus,.btn.btn-primary:hover {
    background: #4240d4;
    border-color: #3634d2;
    color: #fff
}

.btn.btn-primary:active {
    background: #3a38d2;
    border-color: #302ecd;
    color: #fff
}

.btn.btn-link {
    background: 0 0;
    border-color: transparent;
    color: #5755d9
}

.btn.btn-link:active,.btn.btn-link:focus,.btn.btn-link:hover {
    color: #302ecd
}

.btn.btn-clear {
    background: 0 0;
    border: 0;
    color: currentColor;
    height: .8rem;
    line-height: .8rem;
    margin-left: .2rem;
    margin-right: -2px;
    opacity: 1;
    padding: 0;
    text-decoration: none;
    width: .8rem
}

.btn.btn-clear:hover {
    opacity: .95
}

.btn.btn-clear:before {
    content: "\2715"
}

.btn-group {
    display: inline-flex;
    display: -ms-inline-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.btn-group .btn {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.btn-group .btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.btn-group .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: -.05rem
}

.btn-group .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -.05rem
}

.btn-group .btn:active,.btn-group .btn:focus,.btn-group .btn:hover {
    z-index: 1
}

.btn-group.btn-group-block {
    display: flex;
    display: -ms-flexbox
}

.btn-group.btn-group-block .btn {
    -ms-flex: 1 0 0;
    flex: 1 0 0
}

fieldset {
    margin-bottom: .8rem
}

.form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    background-image: none;
    border: .05rem solid #e85600;
    border-radius: .1rem;
    color: #50596c;
    display: block;
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.2rem;
    max-width: 100%;
    outline: 0;
    padding: .25rem .4rem;
    position: relative;
    transition: all .2s ease;
    width: 100%
}

.form-input:focus {
    border-color: #5755d9;
    box-shadow: 0 0 0 .1rem rgba(87,85,217,.2)
}

.form-input::-webkit-input-placeholder {
    color: #acb3c2
}

.form-input:-ms-input-placeholder {
    color: #acb3c2
}

.form-input::-ms-input-placeholder {
    color: #acb3c2
}

.form-switch {
    display: block;
    line-height: 1.2rem;
    margin: .2rem 0;
    min-height: 1.2rem;
    padding: .1rem .4rem .1rem 1.2rem;
    position: relative
}

.form-switch input {
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.form-switch input:focus+.form-icon {
    border-color: #5755d9;
    box-shadow: 0 0 0 .1rem rgba(87,85,217,.2)
}

.form-switch input:checked+.form-icon {
    background: #5755d9;
    border-color: #5755d9
}

.form-switch .form-icon {
    border: .05rem solid #caced7;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    transition: all .2s ease
}

.form-switch {
    padding-left: 2rem
}

.form-switch .form-icon {
    background: #e7e9ed;
    background-clip: padding-box;
    border-radius: .45rem;
    height: .9rem;
    left: 0;
    top: .25rem;
    width: 1.6rem
}

.form-switch .form-icon:before {
    background: #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .8rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease;
    width: .8rem
}

.form-switch input:checked+.form-icon:before {
    left: 14px
}

.form-switch input:active+.form-icon:before {
    background: #f8f9fa
}

.input-group {
    display: flex;
    display: -ms-flexbox
}

.input-group .form-input {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%
}

.input-group .input-group-btn {
    z-index: 1
}

.input-group .form-input:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.input-group .input-group-btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -.05rem
}

.input-group .form-input:focus,.input-group .input-group-btn:focus {
    z-index: 2
}

.form-input:not(:placeholder-shown):invalid {
    border-color: #e85600
}

.form-input:not(:placeholder-shown):invalid:focus {
    box-shadow: 0 0 0 .1rem rgba(232,86,0,.2)
}

.form-input:disabled {
    background-color: #f0f1f4;
    cursor: not-allowed;
    opacity: .5
}

input:disabled+.form-icon {
    background: #f0f1f4;
    cursor: not-allowed;
    opacity: .5
}

.form-switch input:disabled+.form-icon:before {
    background: #fff
}

.label {
    background: #f0f1f4;
    border-radius: .1rem;
    color: #5b657a;
    display: inline-block;
    line-height: 1.2;
    padding: .1rem .2rem
}

.label.label-primary {
    background: #5755d9;
    color: #fff
}

code {
    font-size: 85%;
    line-height: 1.2;
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #23241f
}

.code,code {
    border-radius: .1rem
}

.code {
    color: #f8f8f2;
    position: relative
}

.code:before {
    width: 100%;
    display: block;
    margin-top: 16px;
    line-height: 1.2rem;
    background: #23241f;
    padding: .1rem 1rem;
    border-radius: .1rem .1rem 0 0;
    border-bottom: 1px solid #75715e;
    color: #f8f8f2;
    content: attr(data-lang);
    font-size: .7rem;
    right: .4rem;
    top: .1rem
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: .4rem;
    padding-right: .4rem;
    width: 100%
}

.columns {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -.4rem;
    margin-right: -.4rem
}

.column {
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding-left: .4rem;
    padding-right: .4rem
}

.column.col-7 {
    -ms-flex: none;
    flex: none
}

.col-12 {
    width: 100%
}

.col-8 {
    width: 66.66666667%
}

.col-7 {
    width: 58.33333333%
}

.col-mx-auto {
    margin-right: auto
}

.col-ml-auto,.col-mx-auto {
    margin-left: auto
}

.col-mr-auto {
    margin-right: auto
}

@media (max-width: 960px) {
    .col-lg-9 {
        -ms-flex:none;
        flex: none;
        width: 75%
    }
}

@media (max-width: 840px) {
    .col-md-11 {
        -ms-flex:none;
        flex: none;
        width: 91.66666667%
    }
}

@media (max-width: 480px) {
    .col-xs-12 {
        -ms-flex:none;
        flex: none;
        width: 100%
    }
}

.navbar {
    align-items: stretch;
    -ms-flex-align: stretch;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between
}

.navbar,.navbar .navbar-center {
    display: flex;
    display: -ms-flexbox
}

.navbar .navbar-center {
    align-items: center;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center
}

.accordion input:checked~.accordion-body {
    max-height: 50rem
}

.accordion .accordion-header {
    display: block;
    padding: .2rem .4rem
}

.accordion .accordion-body {
    margin-bottom: .4rem;
    max-height: 0;
    overflow: scroll;
    transition: max-height .2s ease
}

.avatar {
    background: #5755d9;
    color: hsla(0,0%,100%,.85);
    display: inline-block;
    font-size: .8rem;
    font-weight: 300;
    height: 1.6rem;
    line-height: 1.25;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 1.6rem
}

.avatar.avatar-xl {
    font-size: 1.6rem;
    height: 3.2rem;
    width: 3.2rem
}

.badge {
    position: relative;
    white-space: nowrap
}

.badge[data-badge]:after {
    background: #5755d9;
    background-clip: padding-box;
    border-radius: .5rem;
    box-shadow: 0 0 0 .1rem #fff;
    color: #fff;
    content: attr(data-badge);
    display: inline-block;
    transform: translate(-.05rem,-.5rem);
    font-size: .7rem;
    height: .9rem;
    line-height: 1;
    min-width: .9rem;
    padding: .1rem .2rem;
    text-align: center;
    white-space: nowrap
}

.modal {
    align-items: center;
    bottom: 0;
    display: none;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: .4rem;
    position: fixed;
    right: 0;
    top: 0
}

.modal:target {
    display: flex;
    display: -ms-flexbox;
    opacity: 1;
    z-index: 400
}

.modal:target .modal-overlay {
    background: rgba(248,249,250,.75);
    bottom: 0;
    cursor: default;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.modal:target .modal-container {
    animation: slide-down .2s ease 1;
    z-index: 1
}

.modal-container {
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0 .2rem .5rem rgba(69,77,93,.3);
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 75vh;
    max-width: 640px;
    padding: 0 .8rem;
    width: 100%
}

.modal-container .modal-header {
    color: #454d5d;
    padding: .8rem
}

.modal-container .modal-body {
    overflow-y: auto;
    padding: .8rem;
    position: relative
}

.panel {
    border: .05rem solid #e7e9ed;
    border-radius: .1rem;
    -ms-flex-direction: column;
    flex-direction: column
}

.panel,.tab {
    display: flex;
    display: -ms-flexbox
}

.tab {
    align-items: center;
    border-bottom: .05rem solid #e7e9ed;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: .2rem 0 .15rem
}

.tab .tab-item {
    margin-top: 0
}

.tab .tab-item a {
    border-bottom: .1rem solid transparent;
    color: inherit;
    display: block;
    margin: 0 .4rem 0 0;
    padding: .4rem .2rem .3rem;
    text-decoration: none
}

.tab .tab-item a:focus,.tab .tab-item a:hover {
    color: #5755d9
}

.tab .tab-item a.active {
    border-bottom-color: #5755d9;
    color: #5755d9
}

.tab.tab-block .tab-item {
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    text-align: center
}

.tab.tab-block .tab-item a {
    margin: 0
}

.tab.tab-block .tab-item .badge[data-badge]:after {
    position: absolute;
    right: .1rem;
    top: .1rem;
    transform: translate(0)
}

.tile {
    align-content: space-between;
    align-items: flex-start;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: start;
    -ms-flex-line-pack: justify
}

.tile .tile-icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.tile .tile-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.tile .tile-content:not(:first-child) {
    padding-left: .4rem
}

.tile .tile-subtitle {
    line-height: 1.2rem
}

.tile.tile-centered {
    align-items: center;
    -ms-flex-align: center
}

.tile.tile-centered .tile-content {
    overflow: hidden
}

.tile.tile-centered .tile-subtitle {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.tooltip {
    position: relative
}

.tooltip:after {
    background: rgba(69,77,93,.9);
    border-radius: .1rem;
    bottom: 100%;
    color: #fff;
    content: attr(data-tooltip);
    display: block;
    font-size: .7rem;
    left: 50%;
    max-width: 320px;
    opacity: 0;
    overflow: hidden;
    padding: .2rem .4rem;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-50%,.4rem);
    transition: all .2s ease;
    white-space: pre;
    z-index: 300
}

.tooltip:focus:after,.tooltip:hover:after {
    opacity: 1;
    transform: translate(-50%,-.2rem)
}

.tooltip.tooltip-bottom:after {
    bottom: auto;
    top: 100%;
    transform: translate(-50%,-.4rem)
}

.tooltip.tooltip-bottom:focus:after,.tooltip.tooltip-bottom:hover:after {
    transform: translate(-50%,.2rem)
}

@keyframes loading {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-1.6rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.text-gray {
    color: #acb3c2
}

.loading {
    color: transparent!important;
    min-height: .8rem;
    pointer-events: none;
    position: relative
}

.loading:after {
    animation: loading .5s linear infinite;
    border-radius: 50%;
    border-color: transparent transparent #5755d9 #5755d9;
    border-style: solid;
    border-width: .1rem;
    content: "";
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 50%;
    width: .8rem;
    z-index: 1
}

.loading.loading-lg {
    min-height: 2rem
}

.loading.loading-lg:after {
    height: 1.6rem;
    margin-left: -.8rem;
    margin-top: -.8rem;
    width: 1.6rem
}

.container:after {
    clear: both;
    content: "";
    display: table
}

.float-right {
    float: right!important
}

.centered {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto
}

.text-center {
    text-align: center
}

.text-bold {
    font-weight: 700
}

.text-large {
    font-size: 1.2em
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    background: #23241f
}

.hljs,.hljs-subst,.hljs-tag {
    color: #f8f8f2
}

.hljs-emphasis,.hljs-strong {
    color: #a8a8a2
}

.hljs-bullet,.hljs-link,.hljs-literal,.hljs-number,.hljs-quote,.hljs-regexp {
    color: #ae81ff
}

.hljs-code,.hljs-section,.hljs-selector-class,.hljs-title {
    color: #a6e22e
}

.hljs-strong {
    font-weight: 700
}

.hljs-emphasis {
    font-style: italic
}

.hljs-attr,.hljs-keyword,.hljs-name,.hljs-selector-tag {
    color: #f92672
}

.hljs-attribute,.hljs-symbol {
    color: #66d9ef
}

.hljs-class .hljs-title,.hljs-params,.hljs-title.class_ {
    color: #f8f8f2
}

.hljs-addition,.hljs-built_in,.hljs-selector-attr,.hljs-selector-id,.hljs-selector-pseudo,.hljs-string,.hljs-template-variable,.hljs-type,.hljs-variable {
    color: #e6db74
}

.hljs-comment,.hljs-deletion,.hljs-meta {
    color: #75715e
}

.theme-toggle {
    display: flex;
    justify-content: flex-end
}

.theme-dark {
    color: #e1e1e1;
    background: #121212
}

.theme-dark a:hover,.theme-dark a:visited {
    color: #5755d9
}

.theme-dark .avatar-xl {
    background-color: #121212!important
}

.theme-dark #query {
    color: #e1e1e1;
    background: #121212;
    border-color: #5755d9
}

.theme-dark .tile .avatar {
    background-color: #121212!important
}

.theme-dark .panel {
    border: 2px solid #121212
}

.theme-dark .exploit-actions {
    background: #121212!important
}

.theme-dark .exploit-actions a,.theme-dark .exploit-actions button {
    color: #e1e1e1;
    background: #121212;
    border-color: #5755d9
}

.theme-dark .toptable li {
    color: #7d7d7d
}

.theme-dark .form-switch .form-icon {
    background: #121212
}

.theme-dark .form-switch .form-icon:before {
    background: #7d7d7d
}

.theme-dark .footer {
    color: #7d7d7d;
    background: #121212
}

.theme-dark #share-url {
    color: #e1e1e1
}

.theme-dark #share-url .modal-container {
    background: #121212
}

.theme-dark #share-url .modal-title {
    color: #e1e1e1
}

.theme-dark #share-url .form-input {
    color: #7d7d7d;
    background: #121212;
    border-color: #5755d9
}

.theme-dark .modal:target .modal-overlay {
    background: rgba(70,70,70,.7490196078)!important
}

.theme-dark .sorttab .label {
    color: #e1e1e1;
    background: none;
    border: 1px solid #5755d9
}

.theme-dark .sorttab .label.label-primary {
    background: #5755d9
}

.theme-dark .autocomplete-suggestions {
    background: #121212;
    border-color: #e1e1e1
}

.theme-dark .autocomplete-suggestions .autocomplete-suggestion {
    color: #e1e1e1
}

.theme-dark .autocomplete-suggestions .autocomplete-suggestion.selected {
    background-color: #121212
}

.theme-dark .badge[data-badge]:after {
    box-shadow: none;
    color: #e1e1e1!important
}

.theme-dark .tile.tile-centered:hover .accordion-header {
    color: #5755d9
}

.theme-dark .tile-content .btn-link {
    border: 0
}

.theme-dark .tile-content .btn-link:hover {
    color: #5755d9
}

.wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7rem .4rem 0;
    margin: -7rem auto 0
}

.label {
    cursor: pointer
}

.wrap.top {
    padding-top: 0;
    margin-top: 0
}

.logo {
    display: block;
    height: 100%
}

.logo:focus {
    box-shadow: none
}

.centered .code {
    line-height: 0
}

.content {
    width: 100%
}

.avatar-xl {
    background-image: url(/static/images/sploitus.png);
    background-size: cover
}

.avatar.avatar-xl {
    height: 9rem;
    width: 9rem;
    background-color: #fff
}

.avatar.avatar-xl.top {
    height: 5rem;
    width: 5rem;
    background-color: #fff
}

.header {
    min-width: 100%;
    padding: .9rem 0;
    margin: 0
}

#search-box {
    transition: .1s ease-in-out;
    transition-property: top,right,left;
    position: static;
    top: 0;
    margin: 0 auto;
    padding: 0
}

#search-box+#search-results {
    display: none
}

#search-box.search_top+#search-results {
    display: block
}

#search-box.search_top {
    top: 134px;
    margin-bottom: .9rem
}

.panel {
    margin-bottom: .1rem
}

.panel:last-child {
    margin-bottom: 1.6rem
}

.tile.tile-centered {
    padding: 6px 0 10px;
    cursor: pointer
}

.tile.tile-centered:hover .accordion-header {
    color: #4240d4
}

.tile.tile-centered:active .accordion-header {
    color: #3a38d2
}

.text-large {
    font-size: 1.1em;
    line-height: 1.2rem
}

.search-button {
    border: .05rem solid #e85600
}

.tile .tile-subtitle {
    line-height: 1rem;
    font-size: .7rem
}

.accordion .accordion-header {
    padding: .2rem .4rem .2rem 0;
    cursor: pointer;
    transition: color .3s
}

.badge {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin: 0 4px
}

.avatar {
    margin: 0 8px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: #fff
}

.tile-icon.badge.high[data-badge]:after {
    background: #c22121
}

.tile-icon.badge.medium[data-badge]:after {
    background: #e85600
}

.tile-icon.badge.low[data-badge]:after {
    background: #2795e9
}

.tile-icon.badge.none[data-badge]:after {
    background: grey
}

.badge[data-badge]:after {
    border-radius: .1rem
}

.accordion-body {
    margin-bottom: 0;
    padding: 0 10px
}

.accordion-body .centered {
    padding: .8rem 0 0
}

.accordion-body .btn-group+.centered {
    padding: 0;
    margin: 0
}

.code-block {
    border-radius: 0 0 .1rem .1rem
}

.loading {
    margin-bottom: 10rem
}

.tab.tab-block .badge {
    width: 100%
}

.logo {
    background-size: cover
}

.logo_canvas {
    background-image: url(/static/images/canvas.png)
}

.logo_d2,.logo_dsquare {
    background-image: url(/static/images/d2.png)
}

.logo_exploitdb {
    background-image: url(/static/images/exploitdb.png)
}

.logo_metasploit {
    background-image: url(/static/images/metasploit.png)
}

.logo_packetstorm {
    background-image: url(/static/images/packetstorm.png)
}

.logo_pwnmalw {
    background-image: url(/static/images/pwnmalw.png)
}

.logo_saint {
    background-image: url(/static/images/saint.png)
}

.logo_seebug {
    background-image: url(/static/images/seebug.png)
}

.logo_vulnerlab {
    background-image: url(/static/images/vulnerlab.png)
}

.logo_zdt {
    background-image: url(/static/images/zdt.png)
}

.logo_wpexploit {
    background-image: url(/static/images/wpexploit.png)
}

.logo_zeroscience {
    background-image: url(/static/images/zeroscience.png)
}

.logo_kitploit {
    background-image: url(/static/images/kitploit.png)
}

.logo_n0where {
    background-image: url(/static/images/n0where.png)
}

.logo_exploitpack {
    background-image: url(/static/images/exploitpack.png)
}

.logo_githubexploit {
    background-image: url(/static/images/github.png)
}

.panel {
    padding-bottom: 6px
}

.input-group .btn,.input-group .form-input {
    height: 2.2rem
}

.page-title {
    width: 100%;
    text-align: center
}

.tile.tile-centered {
    -ms-align-items: flex-start;
    align-items: flex-start
}

.tile-icon.badge {
    padding-top: .4rem
}

.tooltip:after {
    display: none
}

.form-switch.tooltip {
    cursor: pointer;
    width: max-content
}

.tooltip-content {
    color: #c5cad4;
    font-size: .7rem;
    transition: color .3s
}

.form-switch:hover .tooltip-content,.form-switch input:checked~.tooltip-content {
    color: #50596c
}

.social {
    text-align: center;
    margin: 40px 0
}

.modal-container .modal-body {
    overflow-y: visible
}

.copylink {
    max-width: 80%;
    text-align: center;
    cursor: text;
    -ms-user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    user-select: all
}

.input-group .form-input {
    margin-left: auto
}

.input-group .btn {
    margin-right: auto
}

.resp-sharing-button__icon,.resp-sharing-button__link {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: .5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: .5em .75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: .4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

.resp-sharing-button__icon--solid,.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}

.resp-sharing-button--pinterest {
    background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
    background-color: #8c0615
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}

.resp-sharing-button--tumblr {
    background-color: #35465c
}

.resp-sharing-button--tumblr:hover {
    background-color: #222d3c
}

.resp-sharing-button--reddit:hover {
    background-color: #3a80c1
}

.resp-sharing-button--google:hover {
    background-color: #c23321
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293
}

.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--xing {
    background-color: #1a7576
}

.resp-sharing-button--xing:hover {
    background-color: #114c4c
}

.resp-sharing-button--whatsapp {
    background-color: #25d366
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851
}

.resp-sharing-button--hackernews:focus,.resp-sharing-button--hackernews:hover {
    background-color: #fb6200
}

.resp-sharing-button--vk:hover {
    background-color: #43648c
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998
}

.resp-sharing-button--facebook:active,.resp-sharing-button--facebook:hover {
    background-color: #2d4373;
    border-color: #2d4373
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee
}

.resp-sharing-button--twitter:active,.resp-sharing-button--twitter:hover {
    background-color: #2795e9;
    border-color: #2795e9
}

.resp-sharing-button--google {
    background-color: #dd4b39;
    border-color: #dd4b39
}

.resp-sharing-button--google:active,.resp-sharing-button--google:hover {
    background-color: #c23321;
    border-color: #c23321
}

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5
}

.resp-sharing-button--linkedin:active,.resp-sharing-button--linkedin:hover {
    background-color: #046293;
    border-color: #046293
}

.resp-sharing-button--reddit {
    background-color: #5f99cf;
    border-color: #5f99cf
}

.resp-sharing-button--reddit:active,.resp-sharing-button--reddit:hover {
    background-color: #3a80c1;
    border-color: #3a80c1
}

.resp-sharing-button--hackernews {
    background-color: #f60;
    border-color: #f60
}

.resp-sharing-button--hackernews:hover .resp-sharing-button--hackernews:active {
    background-color: #fb6200;
    border-color: #fb6200
}

.resp-sharing-button--vk {
    background-color: #507299;
    border-color: #507299
}

.resp-sharing-button--vk:hover .resp-sharing-button--vk:active {
    background-color: #43648c;
    border-color: #43648c
}

.resp-sharing-button--telegram {
    background-color: #54a9eb
}

.resp-sharing-button--telegram:hover {
    background-color: #4b97d1
}

.sorttab {
    padding-top: 10px
}

.btn-group.btn-group-block {
    padding-bottom: 16px;
    background: #fff
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: 8px 32px;
    height: auto;
    background: #f8f9fa
}

.copirate {
    font-size: .67em;
    text-align: center
}

.powered-text {
    font-size: 12px;
    margin-right: 10px
}

.vulners-logo {
    height: 25px
}

.navbar .navbar-section {
    align-items: flex-start
}

.btn-group.btn-group-block {
    position: sticky;
    top: 0;
    z-index: 2
}

.accordion input:checked~.accordion-body {
    max-height: 100%;
    overflow: unset
}

.accordion .accordion-body .code,.accordion input~.accordion-body .code {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s
}

.accordion[open] .accordion-body .code,.accordion input:checked~.accordion-body .code {
    max-height: 50em;
    box-sizing: border-box;
    overflow: auto
}

.code:before {
    margin-top: 0
}

.footer-text {
    font-size: 10px;
    max-width: 50%
}

.footer-links {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center
}

@media(max-width: 600px) {
    .footer-text {
        max-width:100%;
        margin-top: 8px
    }
}
